.works {
	padding-top: 55px;
	padding-bottom: 90px;
	.swiper-container {
		overflow: hidden;
	}
	&-list {
		margin-top: 68px;
		display: flex;
		justify-content: space-between;
	}
	&-item {
		width: 322px;
		border: 1px solid #DDDDDD;
		border-radius: 8px;
		cursor: pointer;
		&:hover {
			opacity: 0.5;
		}
		.works-text {
			height: 197px;
			padding: 20px 20px 40px;
			font-weight: bold;
			&_ttl {
				margin-bottom: 30px;
				line-height: 1.5;
			}
			.desc {
				font-size: 14px;
				line-height: 1.4;
			}
		}
	}
}